%nav#sub-nav.inline{data: {bgcolor: '#ffdc48'}}
  %ul
    %li.all= link_to_with_active_state "All", url_for(params.merge(category: nil))
    - @categories.each do |category|
      %li= link_to_with_active_state category,
        url_for(params.merge(category: category.parameterize)),
        data: {filter: category.parameterize}

#videos
  - 30.times do |i|
    .video{class: @categories.sample.parameterize}
      = link_to video_path(Video.first) do
        .bg
          .info
            .name=Faker::Lorem.words.to_sentence.capitalize
            .company=Faker::Company.name
