%nav#sub-nav.inline{data: {bgcolor: '#ffdc48'}}
  %ul
    %li.all= link_to_with_active_state "All", url_for(params.merge(category: nil))
    - @categories.each do |category|
      %li= link_to_with_active_state category,
        url_for(params.merge(category: category.parameterize)),
        data: {filter: category.parameterize}

#videos
  - @videos.each do |video|
    .video{class: @categories.sample.parameterize}
      = link_to video do
        .bg
          .info
            .name=video
            .company=Faker::Company.name
