%nav#sub-nav.inline
  %ul
    %li= link_to_with_active_state "All", request.env['PATH_INFO']
    - @categories.each do |category|
      %li= link_to_with_active_state category, '#'

- 30.times do |i|
  .video
    = link_to Video.first do
      .bg
        .info
          .name=Faker::Lorem.words.to_sentence.capitalize
          .company=Faker::Company.name


/ %h1 Listing videos

/ %table
/   %tr
/     %th Name
/     %th Slug
/     %th Vimeoid
/     %th Description
/     %th
/     %th
/     %th

/   - @videos.each do |video|
/     %tr
/       %td= video.name
/       %td= video.slug
/       %td= video.vimeoid
/       %td= video.description
/       %td= link_to 'Show', video
/       %td= link_to 'Edit', edit_video_path(video)
/       %td= link_to 'Destroy', video, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br

/ = link_to 'New Video', new_video_path
