= @video.vimeoid
.row
  #video= vimeo_player @video.vimeoid

.row
  .description
    %h3= @video.name
    = simple_format @video.description

.row
  - 3.times do
    .thumbnail

/ %p#notice= notice
/ = vimeo_player @video.vimeoid
/ %h3= @video.name
/ = simple_format @video.description

/ = link_to 'Edit', edit_video_path(@video)
/ \|
/ = link_to 'Back', videos_path
