%p Whether it was graphics or a full production, we have done work for these people on some capacity over the last few years. Rollover below for some testimonials.

.clients
  - @clients.each_with_index do |client, index|
    .client{class: ('active' if index == 0)}
      = image_tag "clients/#{client.slug}.png"
    .client-description
      %h3.client-name= client.name
      %p.client-description= client.description

.row
  #client-info.description
    / %h3#client-name= @clients.first.name
    / %p#client-description= @clients.first.description
