- title "Clients"
%p.tile Whether it was graphics or a full production, we have done work for these people on some capacity over the last few years. Rollover below for some testimonials.

.clients

  - @clients.each_with_index do |client, index|

    .client.tile
      .overlay
      = image_tag client.logo_url
    .client-description
      %h3.client-name= client.name
      %p.client-description= client.description
      .client-author
        %h3.client-name
          Dan Rowles, Bolton University
          %br/
          www.bolton.ac.uk
      .play-film
        %h3.client-name play film
      /= client.description
    -# - if index % 6 == 5
    -#   .details
    -#     .client-info.description.tile

.client-info.description