- title "Clients"
%p.tile Whether it was graphics or a full production, we have done work for these people on some capacity over the last few years. Rollover below for some testimonials.

.clients

  - @clients.each_with_index do |client, index|

    .client.tile
      .overlay
      = image_tag client.logo_url
    .client-description
      %h3.client-name= client.name
      %p.client-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      /= client.description
    -# - if index % 6 == 5
    -#   .details
    -#     .client-info.description.tile

  .client-info.description