- title "About"
#content
  .row
    .about-column.padded.tile
      %h3 Profile

      %p Established in 2004, Daylight is an award winning, independent, creative moving image and design company based in the Northern Quarter of central Manchester. Founded on a fresh, stylistic approach to video production, we embrace and unite disciplines such as design, animation, audio and film to produce a more creative form of moving image.

    .about-column.tile
      .scrubsprite#glare

  .row
    .about-column.last.padded.tile{style: 'float: right'}
      %p We are a small, experienced and creative team with a collective background in production and design. We pride ourselves on taking any screen based brief from concept to completion, and being a small team we maximise the efficiency and communication needed for the project, whatever it may be. We also have an amazing network of trusted specialists at our disposal so if we do have to draw in collaborators from new fields to suit your needs, we always have the right people for the job.

    .about-column.tile
      .scrubsprite#trees

  .row
    .about-column.padded.tile
      %p Our process is simple – Listen – Research – Think – Create – Refine.

      %p For everything we do, our mantra is "What's wrong with it? How can I make it better?" We know the simplicity of our approach works. From the initial concept to the final grading stage, your requirements, criteria, and intended outcome are central to all we do. We evaluate and re-evaluate until we achieve best possible solution. As well as 'making it better' we are also committed to considering our social and environmental impact. We always work efficiently, safely and fairly.

    .about-column.tile
      .scrubsprite#mmu

  .row
    .about-column.last.padded.tile{style: 'float: right'}
      %p Our portfolio shows our diverse approaches to very different problems and very different clients. Because we provide bespoke solutions to each job, we don’t have a standard ‘house’ look that we apply irrespective of the client’s needs. We treat our clients as individuals who deserve an individual approach.

      %p Have a browse around our work section at some of the work and you'll see the breadth of clients, sectors and briefs that have enjoyed our tailor-made methodology.

    .about-column.tile
      .scrubsprite#bike
