- title "About"
#content
  .row
    .about-column
      .img.sunflare
      %h3 Profile
      %p Established in 2004, Daylight is an award winning, independent, creative moving image company based in the northern quarter of Manchester.
      %p We are a small, experienced and creative team with a collective background in production and design. We pride ourselves on taking any moving image brief from concept to completion, and being a small team we maximise the efficiency and communication needed for the project, whatever it may be.
      %p Over the years we have built up a great body of work and client base, but also an amazing network of trusted specialists at our disposal so if we do have to draw in collaborators from new fields to suit your needs, we always have the right people for the job.

    .about-column
      .img
      %h3 Process
      %p Our process is simple:
      %p
        %ul
          %li Listen
          %li Research
          %li Think
          %li Create
          %li Refine
      %p For everything we do, our mantra is "What's wrong with it? How can I make it better?"
      %p We know the simplicity of our approach works. From the initial concept to the final grading stage, your requirements, criteria, and intended outcome are central to all we do. We evaluate and re-evaluate until we achieve best possible solution.
      %p As well as 'making it better' we are also committed to considering our social and environmental impact. We always work efficiently, safely and fairly.

    .about-column
      .img.window
      %h3 Portfolio
      %p We work with many clients directly but also have relationships and are called upon by design/ creative agencies and this is reflected in our work.
      %p Our portfolio shows our diverse approaches to very different briefs and very different clients. Because we provide bespoke solutions to each job, we don’t have a standard ‘house’ look that we apply irrespective of the client’s needs. We treat our clients as individuals who deserve an individual approach.
      %p Have a browse around our work section at some of the work and you'll see the breadth of clients, sectors and briefs that have enjoyed our tailor-made methodology
