- title "Contact"

.row
  .flexslider
    %ul.slides
      - 8.times do |index|
        %li= image_tag "contactslider/image#{index + 1}-w990.jpg"

  %iframe{src: "https://maps.google.co.uk/maps?q=Daylight+Moving+Image+Ltd&view=map&ll=53.483455,-2.237191&spn=0.006129,0.013833&output=embed&iwloc=near"}
