- title "Contact"

.row
  .flexslider
    %ul.slides
      - 8.times do |index|
        %li= image_tag "contactslider/image#{index + 1}-w990.jpg"

  %iframe{src: "//maps.google.co.uk/maps?q=Daylight+Moving+Image+Ltd&hl=en&ved=0CGAQpQY&ei=ZdzCTIyrMIOGjweouf25DA&sll=53.483771,-2.234741&sspn=0.006295,0.006295&ie=UTF8&view=map&cid=18376470600517041526&hq=Daylight+Moving+Image+Ltd&hnear=&ll=53.485455,-2.236191&spn=0.006129,0.013833&z=16&iwloc=A&output=embed"}
