- button "Menu"
#content
  .row
    = image_tag @video.image_url, id: 'homepage-image'
    #homepage-video.tile
      .fit-vids
        %video#homepage-video{:loop => true, :class => 'video-js', 'data-setup' => true,  width: '100%', :autoplay => true}
          %source{:src => @video.video, :type => "video/mp4"}

  .row{style: 'margin-top: 20px'}
    #featured-videos Featured Videos

    #videos.thumbs
      - @videos.each_with_index do |video, index|
        .video.tile{style: "background-image: url(#{video.image});"}
          = link_to featured_path(index + 1) do
            .bg
              .info
                .name=video
                - if video.blurb.present?
                  .company=video.blurb