#content
  .row
    #homepage-video.tile
      %video{src: 'http://bitsushi.s3.amazonaws.com/noaudio.mp4', width: '100%', autoplay: true, loop: true}
      = image_tag "homepagevideoplaceholder.jpg"

  .row
    #featured-videos Featured Videos

    #videos.thumbs
      - 3.times do |index|
        - Video.all.sample(1).each do |video|
          .video.tile{style: "background-image: url(#{video.image});", class: ("active" if index == 1)}
            /{class: @tags.sample.parameterize}
            = link_to video.fullpath do
              .bg
                .info
                  .name=video
                  - if video.blurb.present?
                    .company=video.blurb