- button "Menu"
#content
  .row
    .fit-vids.tile
      %object{:data => asset_path('fallbackplayer.swf'), :height => "462", :type => "application/x-shockwave-flash", :width => "990"}
        %param{:name => "movie", :value => asset_path('fallbackplayer.swf')}/
        %param{:name => "wmode", :value => "opaque"}/
        %param{:name => "flashVars", :value => "src=#{@video.video}"}/
        %param{:name => "scale", :value => "noScale"}/
        %video{:height => "462", :width => "990", :autoplay => true, :loop => true}
          %source{:src => @video.video, :type => "video/mp4"}/
          %source{:src => "https://www.filepicker.io/api/file/HfCa8T3QZiM5AxwZaXlA", :type => "video/webm"}/
          %img{:src => "http://i.imgur.com/C6H230g.jpg", :width => "990", :height => "462"}/

  .row{style: 'margin-top: 20px'}
    #featured-videos Featured Videos

    #videos.thumbs
      - @videos.each_with_index do |video, index|
        .video.tile{style: "background-image: url(#{video.image});"}
          = link_to featured_path(index + 1) do
            .bg
              .info
                .name=video
                - if video.blurb.present?
                  .company=video.blurb