.about-column {
  @include span-columns(3);
  &.first {
    clear: left;
  }
  &.last {
    @include omega();
  }
  @include media($mobile) {
    @include fill-parent;
  }
}

h3 {
  margin: 0;
}

.row {
  @include row();
}

img {
  max-width: 100%;
}