//= require foundation_and_overrides
$orange: #F9A518;
$yellow: #FFDC48;

.actions {
  background: #EEE;
  padding: 10px;
}



.showreel {
  background: $yellow;
}
.featured {
  background: $orange;
}

#main {
  textarea {
    height: auto;
  }
  ul {
    min-height: 80px;
    background: #EEE;
    margin: 0;
    padding: 4px;
    list-style: none;
  }

  .featured-videos li:nth-child(n+4) {
    background: red;
    a {
      color: pink;
    }
  }

  li.all {
    background: $yellow;
  }
  li {
    display: block;
    clear: both;
    padding: 2px 4px;
    background: $orange;
    margin: 2px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    a {
      display: block;
      width: 100%;
      color: #FFF;
    }
  }
  .placeholder { height: 1.5em; line-height: 1.2em; background: rgba(0,0,0,0.3); margin: 2px; }


  table {
    width: 100%;
    &,td,tr {
      vertical-align: top;
    }
    td {
      width: 20%;
      text-align: left;
      background: white;
    }
  }
}

.field {
  margin-bottom: 1em;
}

p {
  color: #999;
}

body {
  margin-bottom: 50px;
}

.hint {
  color: #AAA;
  font-size: .8em;
  margin-top: -10px;
}