// $visual-grid: true;
$column: 165px;
$gutter: 0px;
$grid-columns: 6;
$max-width: $column * $grid-columns;
$orange: #F9A518;
$yellow: #FFDC48;


$tablet: new-breakpoint(max-width 780px 4);
$mobile: new-breakpoint(max-width 480px 4);

@import "bourbon";
@import "font-awesome";
@import "sprite";
// @import "grid-settings";
@import "neat-helpers";
@import "neat";
@import "videos";
@import "select2";
@import "share";
@import "clients";
@import "about";
@import "header";
@import "contact";

@import "mediaelementplayer";
@import "home";
// @import "flexnav";

#responsive-nav {
  background: black;
  max-height: 0;
  margin: -10px -10px 0;
  overflow: hidden;
  @include transition (all 1.0s ease-in-out);
  li {
    padding: 10px;
  }
}

#top-nav {
  background: black;
  overflow: hidden;
}

::selection, ::-moz-selection, ::-webkit-selection {
  background: $yellow; /* Firefox */
}


.fluid-width-video-wrapper, iframe {
  background: #FFF;
}

.hide-mobile {
  @include media($mobile){ display: none; }
}

body {
  font-family: 'Helvetica Neue', $helvetica;
  font-size: 13px;
  color: #8F8F8F;
  overflow-y: scroll;
  margin: 0 8px;
  @include media($mobile){ margin: 10px; }
}

h1,h2,h3,h4,h5 {
  &, a {
    color: $orange;
  }
}

// .desktop {
//   @include media($mobile) {
//     display: none !important;
//   }
// }

.mobile {
  display: none;
  @include media($mobile) {
    display: block;
  }
}

body.work, body.light-work {
  #main {
    margin-top: 350px;
  }
}

p.tile {
  margin-top: 0;
}

#main {
  @include media($mobile) {
    margin-top: 0 !important;
  }
  margin-top: 330px;
  @include span-columns(6);
}



// .subnav {
//     margin-bottom: 10px;
//     display: block;
//     overflow: hidden;
//   }



a {
  text-decoration: none;
  color: #999;
}

.ambient-image {
  @include span-columns(6);
  background: pink;
  height: 400px;
}

.video-description {
  @include shift(2);
  @include span-columns(4);
}

// .logo {
//   @include span-columns(5);
//   @include omega();
// }

body {
  .contact {
    @include shift(1);
    @include span-columns(2);
    @include media($mobile){ display: none; }
  }
}

#summary {
  @include shift(1);
  @include span-columns(2);
  @include omega();
}

#main .container {
  @include outer-container;
  padding-bottom: 20px;
}


.aperture, #moving-image {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 0.8;
  color: #000;
}

#moving-image {
  font-weight: normal;
  color: #999;
}

.top-nav {
  @include span-columns(6);
  text-align: right;
  line-height: 25px;
  .link {
    margin-right: 20px;
  }
}


// body.c-clients {
//   #main {
//     margin-top: 20px;
//   }
// }


.thumbnail:nth-child(2) {
  background: #444;
}

#vimeo-container {
  background: #F0F0F0 image-url('loader.gif') center center no-repeat;
}
 //= require foundation_and_overrides


// .a-show.c-videos #work-subnav {
//   display: block;
// }

#featured-videos {
  margin-top: 1em;
  font-size: 1.4em;
  margin-bottom: 0.3em;
}