// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.client {
  @include span-columns(1);
  @include omega(6);

  // @include media($tablet) {
  //   @include span-columns(3);
  // }
  height: 100px;
  background: red;
  &:nth-child(odd) {
    background: orange;
  }
}

// .client {
//   @include span-columns(1);
//   @include omega(6n);
//   background: green;
//   height: 75px;
//   margin-bottom: 10px;
// }

// .clients-description {
//   @include shift(2);
//   @include span-columns(4);
// }