#map {
  height: 350px;
}

#map-holder {
  @include span-columns(4);
}

#address {
  @include span-columns(2);
  padding: 0 10px;
}

iframe {
  @include fill-parent();
  height: 330px;
  border: none;
}

.row .flexslider {
  margin-bottom: 20px;
}