.a-contact {
  .info {
    margin-bottom: 20px;
  }
  .contactaddress, .enquiries, .jobs {
    @include span-columns(2);
    @include media($mobile) {
      @include fill-parent();
    }
  }
  .info .nightlight, a.nightlight {
    color: #1CBEE3;
  }
  .info a {
    color: #F9A518;
  }
  header {
    .contact, .summary {
      display: none;
    }
  }

  #map {
    height: 350px;
  }

  #map-holder {
    @include span-columns(4);
  }

  #address {
    @include span-columns(2);
    padding: 0 10px;
  }

  iframe {
    @include fill-parent();
    height: 330px;
    border: none;
  }

  .row .flexslider {
    margin-bottom: 20px;
  }

  #MyGmaps {
    background: red;
    width: 100%;
    height: 300px;
  }
}
