// $tablet: new-breakpoint(max-width 780px 4);
// $mobile: new-breakpoint(max-width 580px 4);

#mep_0 {
  @include media($mobile) {
    display: none;
  }
}

// #homepage-image {
//   display: none;
//   @include media($mobile) {
//     display: block;
//   }
// }

#homepage-video {
  p {
    display: none;
  }
  // @include media($mobile) {
  //   display: none !important;
  // }
  margin-bottom: 10px;
  display: block !important;

  .mejs-container {
    background: none;
    height: auto !important;
  }
  .mejs-mediaelement {
    position: static !important;
  }
  video {
    display: block;

    width: 100%;
  }
  // img {
  //   display: none;
  // }
  #mep_1 {
    height: auto !important;
  }
}

.me-cannotplay {
  display: none !important;
}