$tablet: new-breakpoint(max-width 780px 4);
$mobile: new-breakpoint(max-width 480px 4);

#homepage-video {
  margin-bottom: 10px;
  display: block !important;

  .mejs-container {
    background: none;
    height: auto !important;
  }
  .mejs-mediaelement {
    position: static !important;
  }
  video {
    display: block;
    width: 100%;
  }
  // img {
  //   display: none;
  // }
  #mep_1 {
    height: auto !important;
  }
  @include media($mobile) {

      video {
        display: none;
      }
      img {
        display: block;
      }

  }
}

.me-cannotplay {
  display: none !important;
}