// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$tablet: new-breakpoint(max-width 780px 4);
$mobile: new-breakpoint(max-width 480px 4);

.video {
  @include media($tablet) {
    @include span-columns(2);
  }
  @include media($mobile) {
    @include span-columns(4);
    height: 120px;
    font-size: 1.1em;
  }
  &, * {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'Lato', sans-serif;
    font-weight: 300 !important;
  }
    background: center center url('http://www.digital-links.org/news/bridge2.jpg') no-repeat;
    background-size: cover;
    &:nth-child(even) {
      background-image: url('http://www.placenorthwest.co.uk/assets/_files/cached/img/402x255.568359375/mar_11/pnw__1301389056_Salford_University_plans.jpg');
    }
  position: relative;
  overflow: hidden;
  cursor: pointer;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  font-size: 1.5em;
  padding: 0 20px;
  display:table-cell;
  vertical-align:middle;
  color: #393939;

  &:hover .highlight {
    display: block;
  }

  .name {
    color: #FFF;
    margin-bottom: 1em;
  }


  @include span-columns(2);
  height: 180px;

  .bg:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  .info {
    position: relative;
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    word-break: break-word;
  }

  .bg {
    opacity: 0;
    padding: 0 20px;
    background: rgba(yellow, 0.5);
  }

  // &:hover {
  //   .bg {
  //     display: block;
  //   }
  // }
}


