@import "bourbon";

// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$tablet: new-breakpoint(max-width 780px 4);
$mobile: new-breakpoint(max-width 480px 4);

// .c-videos.a-show {
//   .description {
//     max-height: 200px;
//     margin-bottom: 20px;
//   }
// }

.bg {
  background-color: #FFDC48 !important;
}

.video.active {
  .bg {
    opacity: 1 !important;
  }
}

// .video {
//   .bg {
//     @include transition (all 0.2s ease-in-out);
//   }
// }

$videoHeight: 180px;

.app {

  .video {
    @include animation-duration(2s);

    &.big-left, &.big-right {
      @include span-columns(4);
      height: $videoHeight * 2;
      @include media($mobile) {
        width: 100%;
      }
    }
    &.big-right {
      float: right;
    }
    height: $videoHeight;
    background: center center no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0 20px;
    display:table-cell;
    vertical-align:middle;
    color: #393939;
    @include span-columns(2);

    @include media($tablet) {
      @include span-columns(2);
      height: $videoHeight;
    }

    @include media($mobile) {
      @include span-columns(4);
      height: 120px !important;
      font-size: 1.1em;
    }

    &, * {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'Lato', sans-serif;
      font-weight: 300 !important;
    }

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    &:hover .highlight {
      display: block;
    }

    .name {
      color: #FFF;
      margin-bottom: 1em;
    }



    .bg:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }

    .info {
      position: relative;
      z-index: 2;
      display: inline-block;
      vertical-align: middle;
      width: 200px;
      word-break: break-word;
    }

    .bg {
      opacity: 0;
      padding: 0 20px;
      //background: rgba(yellow, 1);
    }

    // &:hover {
    //   .bg {
    //     display: block;
    //   }
    // }
  }

.client-author, .play-film {
  @include span-columns(3);
  }

  .description {
    // @include shift(2);
    @include media($tablet, $mobile) {
      @include shift(0);
    }
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .thumbnail {
    height: 200px;
    @include span-columns(2);
    background: black;
  }

  .company {
    color: #393939;
  }





  // .isotope,
  // .isotope .isotope-item {
  //   /* change duration value to whatever you like */
  //   -webkit-transition-duration: 0.4s;
  //      -moz-transition-duration: 0.4s;
  //       -ms-transition-duration: 0.4s;
  //        -o-transition-duration: 0.4s;
  //           transition-duration: 0.4s;
  // }

  // // .isotope {
  // //   -webkit-transition-property: height, width;
  // //      -moz-transition-property: height, width;
  // //       -ms-transition-property: height, width;
  // //        -o-transition-property: height, width;
  // //           transition-property: height, width;
  // // }

  // // .isotope .isotope-item {
  // //   -webkit-transition-property: -webkit-transform, opacity;
  // //      -moz-transition-property:    -moz-transform, opacity;
  // //       -ms-transition-property:     -ms-transform, opacity;
  // //        -o-transition-property:      -o-transform, opacity;
  // //           transition-property:         transform, opacity;
  // // }

  // /**** disabling Isotope CSS3 transitions ****/

  // .isotope.no-transition,
  // .isotope.no-transition .isotope-item,
  // .isotope .isotope-item.no-transition {
  //   -webkit-transition-duration: 0s;
  //      -moz-transition-duration: 0s;
  //       -ms-transition-duration: 0s;
  //        -o-transition-duration: 0s;
  //           transition-duration: 0s;
  // }

}
