.contact.fade
  %p Penthouse, 37 Turner Street, Manchester, M4 1DW
  %p
    T: 0161 839 9088
    %br/
    E:
    = mail_to "talk@day-light.co.uk"
.summary.fade
  Established in 2004, Daylight is an award winning, independent, creative moving image company based in the northern quarter of Manchester.
  %br/
  %br/
  We like working in natural light.
